.container { 
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: minmax(15%, auto) minmax(85%, auto);
    height: 100vh;
}

.header { 
    grid-column-start: 2;
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-rows: minmax(40%,auto) minmax(60%,auto);
    padding: 15px;
}

.header-first-row { 
    display: grid;
    grid-template-columns: 60% 40%;
}

.search-elements { 
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    align-items: center;
}

.search-icon { 
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    grid-column-start: 1/2;
}

.search-bar { 
    grid-column-start: 2/3;
    height: 30px;
    border-radius: 25px;
    border-color: none;
    background-color: rgb(224, 224, 224);
    box-shadow: none;
    outline: none;
}

.tool-bar { 
    grid-column: 2;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tools { 
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px;
    
}

.header-second-row{ 
    display: grid;
    grid-template-columns: 60% 40%;
}

.profile-card { 
    display: grid;
    grid-template-columns: 25% 75%;
    place-items: center;
}

.profile-img{ 
    grid-column: 1;
    height: 100px;
    border-radius: 100px;
}

.profile-card-text { 
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-right: auto;

}

.greeting{ 
    margin-bottom: auto;
    margin-top: 0px;
}

.cta-buttons { 
    justify-content: center;
    align-items: center;
}

.side-bar { 
    background-color: rgb(21, 149, 223);
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 5% 30% 20%;
    padding: 20px;
}

.dashboard { 
    display: grid;
    grid-template-columns: 70% 30%;
}

.dashboard-header { 
    grid-row-start: 1 /2;
    font-size: 35px;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.news-stack { 
    display: grid;
    grid-template-rows: 50% 50%;
}

.announements-container { 
    grid-column-start: 1/2;
    display: grid;
    grid-template-rows: 15% 85%;
}

.announcments-title { 
    grid-row-start: 1/2;
}

.announcement-card { 
    grid-row-start: 2/3;
    background-color: coral;
    width: 100px;
    height: 100px;
}

.trending-container { 
    grid-column-start: 1/2;
    display: grid;
    grid-template-rows: 15% 85%;
}

.trending-title { 
    grid-row-start: 1/2;
}

.trending-card { 
    grid-row-start: 2/3;
    background-color: coral;
    width: 100px;
    height: 100px;
}

.navigation-list-container { 
    grid-row-start: 2 / 3;
    display: grid;
    grid-template-rows: repeat(15%, auto);
}

.navigation-list { 
    list-style: none;
}

.navigation-list-item { 
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin: 20px;
    margin-left: 0px;
}

.systems-support-list-container { 
    grid-row-start: 3 / 4;
}

.systems-support-list{ 
    list-style: none;
}

.systems-support-list-item{ 
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin: 20px;
    margin-left: 0px;
}

.main-body { 
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    height: 100%;
}

.main-body-article-cards { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3,30%);
    grid-row-start: 2/3;
}

.article-card { 
    width: 100px;
    height: 100px;
    background-color: burlywood;
}

.main-body-title { 
    grid-column-start: 1/2;
}