.container { 
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 85%;
    height: 100vh;
}

.header { 
    grid-column-start: 2;
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-rows: 50% 50%;
}

.header-first-row { 
    display: grid;
    grid-template-columns: 60% 40%;
}

.search-elements { 
    display: grid;
    grid-template-columns: 20% 80%;
}

.search-icon { 
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    grid-column-start: 1/2;
}

.search-bar { 
    grid-column-start: 2/3;
}

.tool-bar { 
    grid-column-start: 2/3;

}

.tools { 
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px
}

.header-second-row{ 
    display: grid;
    grid-template-columns: 60% 40%;
}

.profile-card { 
    display: grid;
    grid-template-columns: 15% 85%;
}

.profile-img{ 
    grid-column-start: 1/2;
}

.profile-card-text { 
    grid-column-start: 2/3;
    display: flex;
    flex-direction: column;
}

.cta-buttons { 
    justify-content: center;
    align-items: center;
}

.side-bar { 
    background-color: cadetblue;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 10% 40% 50%;
}

.dashboard { 
    display: grid;
    grid-template-columns: 70% 30%;
}

.dashboard-header { 
    grid-row-start: 1 /2;
}

.news-stack { 
    display: grid;
    grid-template-rows: 50% 50%;
}

.announements-container { 
    grid-column-start: 1/2;
    display: grid;
    grid-template-rows: 15% 85%;
}

.announcments-title { 
    grid-row-start: 1/2;
}

.announcement-card { 
    grid-row-start: 2/3;
    background-color: coral;
    width: 100px;
    height: 100px;
}

.trending-container { 
    grid-column-start: 1/2;
    display: grid;
    grid-template-rows: 15% 85%;
}

.trending-title { 
    grid-row-start: 1/2;
}

.trending-card { 
    grid-row-start: 2/3;
    background-color: coral;
    width: 100px;
    height: 100px;
}

.navigation-icons { 
    grid-row-start: 2 / 3;
}

.systems-support-icons { 
    grid-row-start: 3 / 4;
}

.main-body { 
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    height: 100%;
}

.main-body-article-cards { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3,30%);
    grid-row-start: 2/3;
}

.article-card { 
    width: 100px;
    height: 100px;
    background-color: burlywood;
}

.main-body-title { 
    grid-column-start: 1/2;
}